// Naming colors tool:  http://www.color-blindness.com/color-name-hue/

// Base colors lists
$color-blue-safetypay:    #135699;

$color-blue-light-1:      #4380c6;
$color-blue-light-2:      #c9e5fb;
$color-blue-light-3:      #c5d2ea;

$color-blue-dark-1:       #094179;


// Orange (Labet)
$color-orange-base:       #ED801B;
$color-orange-base-light: #ffaf65;

// General colors
$color-charcoal-gray:     #404040; // Text color
$color-trout-gray:        #4e5659;
$color-white:             #ffffff;
$color-white-smoke:       #f6f6f6;
$color-lavender-violet:   #e1ebfc;
$color-charade-blue:      #3e4446;

// Error message colors
$color-red-error: #db5461;
$color-red-error-dark: #C90E20;
