<!DOCTYPE html>
html(lang="es")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
    title Safetypay Italia
    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700")
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.4.1/css/foundation.min.css")
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.4.1/css/foundation-float.css")
    style.
      .Presentation,
      .Presentation * {
        font-family: "Open Sans";
      }
      .Presentation {
        max-width: 800px;
        margin:0 auto;
      }
      .card {
        margin-top:10px;
      }
      .button--download {
        float:right;
        font-weight: 600;
        margin-bottom: 0;
      }
      .vertical-align {
        display:table;
      }
      .vertical-align .header {
        display:table-cell;
        vertical-align: middle;
      }
      .header {
        font-weight: 600;
        margin-bottom: 0;
      }
      table th,
      table td {
        font-size: 15px;
      }
  body
    .top-bar
      .row.small-12.medium-12.large-9
        .small-7.medium-8.columns
          h3.header Safetypay Italia
        .small-5.medium-4.columns
          //- a.button.button--download(href="html-safetypay-portugal.zip") Descargar HTML
    .Presentation
      .card
        .card-section
          table
            thead
              tr
                th Page/View
                th 
            tbody
              tr
                td Operational costs
                td <a href="page-operational-costs-online.html" target="_blank">Ver</a>
              tr
                td Without costs
                td <a href="page-without-costs-online.html" target="_blank">Ver</a>
              tr
                td Message - Paid transaction
                td <a href="page-message-paid-transaction.html" target="_blank">Ver</a>
              tr
                td Message - Expired transaction
                td <a href="page-message-expired-transaction.html" target="_blank">Ver</a>
              tr
                td Message - Null transaction
                td <a href="page-message-null-transaction.html" target="_blank">Ver</a>

              //- tr
              //-   td Portugal + Mensaje informativo MultiBanco
              //-   td <a href="mensaje-informativo-cash.html" target="_blank">Ver online</a>
              //- tr
              //-   td Portugal - SIN COSTOS
              //-   td <a href="sin-costos-online.html" target="_blank">Ver online</a>
              //- tr
              //-   td Message - paid transaction CASH
              //-   td <a href="message-cash-successful-payment.html" target="_blank">Ver online</a>
              //- tr
              //-   td Message - paid transaction Online
              //-   td <a href="message-online-successful-payment.html" target="_blank">Ver online</a>
              //- tr
              //-   td Message - expired transaction
              //-   td <a href="message-expired-operation.html" target="_blank">Ver online</a>
              //- tr
              //-   td Message - null transaction
              //-   td <a href="message-null-transaction.html" target="_blank">Ver online</a>
              //- tr
              //-   td Mail - Online 2 Step - sin costos operativos
              //-   td <a href="http://safetypay.gitlab.io/safetypay-emails/portugal-cash-sin-costos-operativos.html" target="_blank">Ver online</a>
              //- tr
              //-   td Mail - Online 2 Step - CON costos operativos
              //-   td <a href="http://safetypay.gitlab.io/safetypay-emails/portugal-cash-con-costos-operativos.html" target="_blank">Ver online</a>
              
