include ../1_config/config.jade
doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title #{site_title}
    meta(name="description", content="#{site_description}")
    meta(name="author", content="#{site_author}")
    link(rel='stylesheet', href='css/app.css')
  body 
    .l-OuterContainer
      include ../4_components/operation-messages/c-operation-message-expired.jade
