.c-OperationMessage.c-OperationMessage--cashPayment
  .c-OperationMessage__content
    .c-OperationMessage__innerContent
      .c-OperationMessage__imageBox
        img.c-OperationMessage__image(src="img/safetypay-small-logo.png", alt="Safetypay")
      .c-OperationMessage__details
        .c-OperationMessage__title Gentile Cliente!
        .c-OperationMessage__text
          p Errore imprevisto. Si prega di riprovare più tardi.
          
        //- CallToAction Button
        - var text_button = 'Un nuovo acquisto'
        include ./../c-call-to-action-button.jade
  
    
    
