// Helpers example:
// https://github.com/ahmadajmi/css-helpers/tree/master/helpers

@import "helper-align";
@import "helper-clearfix";
@import "helper-typography";
@import "helper-colors";


// To disabled DOM elements
.h-overlay-disabled {
  left: 0;
  top: 0;
  background-color: #fff;
  opacity: 0.4;
  position: absolute;
  width: 100%;
  height: 100%;
  cursor: not-allowed;
}
