.c-InformationMessage
  .c-InformationMessage__content
    span.c-InformationMessage__guide Desculpe o local de pagamento está desactivado por uma das seguintes razões:
    span.c-InformationMessage_item O montante máximo a pagar em <span class="h-semi-bold">PAGAQUI</span> é de <span class="h-semi-bold">999.9 €</span>
    
  
