.c-LogoSafetypay
  //- Esta variable indica si se agregao no el logo del
  if merchant_logo == true
    img.c-LogoSafetypay__img.c-LogoSafetypay__img--merchantLogo(src="img/footer-logo-mybank.png", alt="My Bank")
  img.c-LogoSafetypay__img(src="img/logo-safetypay-small.png", alt="Vía SafetyPay")
