.c-MyBankSearch
  .c-MyBankSearch__content
    .c-MyBankSearch__formContainer
      form.c-MyBankSearch__form#mybank-search(action="#", name="")
        input.c-MyBankSearch__searchInput(type="text", placeholder="Inserisca il nome della sua banca.")
        input.c-MyBankSearch__submitButton(type="submit", value="")
    .c-MyBankSearch__resultContainer
      ul.c-MyBankSearch__resultList
        //- li.c-MyBankSearch__resultItem
        
  .c-MyBankSearch__alternativeMessage
      span Prosegua con il suo ordine. Troverá il nome della sua banca premendo a “Vai a Internet".     
