/*---------------------------------------------------------------------------*
 * c-HelpInfo
----------------------------------------------------------------------------*/
.HelpInfo {
  &, & * { box-sizing: border-box; }
  &__email {
    color: $color-charcoal-gray;
    font-size: 13px;
    a {
      color: $color-blue-safetypay;
      text-decoration: none;
    }
  }
}
/*---------------------------------------------------------------------------*
 * Endof: c-HelpInfo
----------------------------------------------------------------------------*/
