/*---------------------------------------------------------------------------*
 * c-LogoSafetypay
----------------------------------------------------------------------------*/
.c-LogoSafetypay {
  &, * { box-sizing: border-box;}
  &__img {
    width: 112px;
    display: inline-block;
    vertical-align: middle;

    // Merchant logo
    &--merchantLogo {
      height: 27px;
      margin-right: 4px;
      width: auto;
    }
  }

}
/*---------------------------------------------------------------------------*
 * Endof: c-LogoSafetypay
----------------------------------------------------------------------------*/
