/*---------------------------------------------------------------------------*
 * c-ReturnToTest
----------------------------------------------------------------------------*/
.ReturnToTest {
  &, & * { box-sizing: border-box; }
  &__link {
    font-size: 12px;
    color: $color-blue-safetypay;
    text-decoration: none;
    display: block;
  }
}
/*---------------------------------------------------------------------------*
 * Endof: c-ReturnToTest
----------------------------------------------------------------------------*/
