/*---------------------------------------------------------------------------*
 * Component: OuterContainer
----------------------------------------------------------------------------*/
.l-OuterContainer {
  background-color: $color-white;
  height: auto;
  max-width: 835px;
  margin: 0 auto;
}
/*---------------------------------------------------------------------------*
* Endof Component: OuterContainer
----------------------------------------------------------------------------*/
